/*Subscribe*/

.com-subscribe{
	display: block;
	height: 200px;
	background: url("images/subscribe.jpg");
	margin-bottom: 24px;
}

.com-subscribe .my-form{
	margin-top: 24px;
	text-align: left;
	padding: 60px;
}

.com-subscribe .my-form .text{
	height: 50px;
	width: 60%;
	padding: 24px;
	margin-bottom: 12px;
	border: none;

}

.com-subscribe .my-form .submit{
	font-size: 30px;
	font-weight: bold;
	background-color: #f0f1ad;
	color: #93bfa1;
	border: none;
	border-radius: 10px;

}
.com-subscribe .my-form .submit:hover{
	background-color: #93bfa1;
	color: #ffffff; 
}
