/*----General ----*/
body {
	font-size: 14px;
}

/*-- Color */

a {
  color: #000000;
   text-decoration: none;
  transition: color .5s, background-color .5s;
}

a:hover {
  color: #d5c163;
  text-decoration: none;
  cursor: pointer;
}

/*--- Overwrite*/
.slick-dots {
	bottom: 12px;
}

/* --- Delivery ---*/
#Delivery{
	background-color: #ffffff;
	border-bottom: 4px double #EEEEEE;
	text-align: center;
	padding: auto;
}
.text-muted p{
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: bold;

}
.text-muted{
	height: 70px;
	padding: 20px;
}
/*---- Header ----*/
#header
{
	padding: 16px 0px;
}

/*---component contact ---*/
.com-contact
{
	width: 75%;
	text-align: center;
	margin: auto;

}

/*--com compare--*/
.list-compare
{
	line-height: 34px;
	font-size: 12px;
	border-bottom: 1px solid #eeeeee;
}
.phone-contact p
{	
	line-height: 36px;
	font-size: 12px;
	font-weight: bold;
	padding: 0px 16px;
	margin: 0px;
}

/*-- com search --*/
.com-search{
	float: right;
	 margin: 10px 5px 10px ;
	 padding: auto;
}
input.input-search{
	line-height: 30px;
	width: 280px;
	height: 52px;
}
.com-search button{
	line-height: 38px;
	width: 56px;
	font-size: 20px;


}

/*-- com-shopping-cart --*/
.com-shopping-cart 
{
	line-height: 52px;
	margin: 10px 10px;
}
.com-shopping-cart 
.current,
.language
{
	float: left;
	width: 90px;
	padding-left: 16px;
	border: 1px solid #eeeeee;
	}
.com-shopping-cart .shopping-cart{
	width: 180px;

	float: left;
	position: relative;
}
.com-shopping-cart .shopping-cart a
{
	line-height: 32px;
	background-color: #ffc861;
	border-color: #FFCA28;
}



/*--- Top menu ---*/
#menu-main{
	background-color: #000000;

}
#menu-main .logo{
	position: relative;
}
#menu-main .logo img{
	border: 8px solid #000000;

	}


#menu-main .menu {
	line-height: 72px;
}

#menu-main .menu a{
	display: inline-block;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	padding-left: 40px;
	}
#menu-main .menu a:hover
{
color: #FFECB3;;
background-color: #000000;
}
#menu-main .menu a:focus
{
color: #FFECB3;;
background-color: #000000;
}


#menu-main .menu button{
	color: #ffffff;
	background-color: #ffffff;
}


/*--- Banner top ---*/
#banner-top{
	margin-bottom: 12px;
}
.slick-js{
	z-index: -1;

}
.slick-js .slick-slider-item {
  outline: none;
  display: none;
}
.slick-js > .slick-slider-item:first-child,
.slick-slider .slick-slider-item {
	display: block;
}




/*--- Highlight---*/
@media only screen and (min-width: 991px)
{
.com-item-left{
	padding-left: 0px;
}
.com-item-right{
	padding-right: 0px;
}
}


.com-highlight-item{
	display: block;
	position: relative;
	height: 300px;
	overflow: hidden;


}
.com-highlight-item h2,h3{

	margin-top: 0;
	border: 2px solid #EEEEEE;

}
.com-highlight-item .com-highlight-item-inner {
	position: absolute;
	transition: color .5s, padding .4s;

}

.com-highlight-item:hover .com-highlight-item-inner {
  padding: 0 12px;
  color: #EAEAEA;
}
.com-highlight-item .com-highlight-item-inner.bottom-left{
	bottom: 24px;
	left: 24px;
	color: #EAEAEA;
}
.com-highlight-item:hover .bottom-left{
  color: #000000;
}
.com-highlight-item .center{
	top: 100px;
	bottom: 100px;
	left: 100px;
	right: 100px;
	text-align: center;
	color: #000000;

}
.com-highlight-item:hover .center{
  padding: 10px 0;

}
.com-highlight-item .top-right{
	top:24px;
	right:24px;
	text-align: right;
	color: #000000;

}




/*--- Feature ProDuct ---*/
.slider-product{
	position: relative;
	text-align: center;
	margin-left: -12px;
	margin-right: -12px;
}
.com-product{
	position: relative;
}
.com-product > a {
  display: block;
}

.slider-product .com-product{
	margin: 12px;
}
.com-product .img-responsive {
  border: 1px solid #EAEAEA;
}

.com-product .com-product-image{
	position: relative;
}

.com-product .com-product-image .icon {
  max-height: 32px;
}

.com-product .com-product-image .icon-2x {
  max-height: 64px;
}

.com-product .com-product-image .top-right,
.com-product .com-product-image .bottom-left
{
  position: absolute;
  
}
.com-product .com-product-image .top-right {
  right: 12px;
  top: 12px;
}
.com-product .com-product-image .bottom-left{
	bottom: 12px;
	left: 12px;
}


.slider-product .text-title{
	color: #000000;
	font-size: 18px;
}
.slider-product .text-title:hover {
	color: #d5c163;
}
.com-product small {
  color: #999999;
  text-decoration: line-through;
}

@media only screen and (min-width: 1024px)
{
.com-product .com-product-actions{
	position: absolute;
	top: 30%;
	width: 100%;
	padding: 12px 6px;

  opacity: 0;
  transition: opacity 1s, top .5s;
}


.com-product:hover .com-product-actions {
  visibility: visible;
  opacity: 1;
  top: 40%;
}

.com-product .com-product-actions .glyphicon {
  font-size: 24px;
  padding: 12px;
  margin-bottom: 4px;
  border: 1px solid #d5c163;
  color: #d5c163;
  background-color: #FFFFFF;
}

.com-product .com-product-actions .glyphicon:hover {
  color: #FFFFFF;
  background-color: #d5c163;
}
}
@media only screen and (max-width: 1024px)
{
	.com-product .com-product-actions .glyphicon {
  font-size: 24px;
  padding: 12px;
  margin-bottom: 4px;
  
  color: #FFFFFF;
  background-color: #d5c163;
}
}



/*--- com-sale-product */
.com-sale-product .com-sale-product-img img{
		margin: 0 auto;
		display: block;

}

.com-sale-product .com-sale-product-countdown {
	text-align: center;
}
.com-sale-product .com-sale-product-countdown .countdown-item{
	color: #000000;
	border-radius: 50px;
	margin-bottom: 24px;
	font-size: 24px;
	position: relative;
	background-color: #d5c163 ;
}
.com-sale-product .com-sale-product-countdown .countdown-item 
.days,
.hours,
.minutes,
.seconds
{
	position: absolute;
	display: inline-block;
	top: 50%;
	bottom: 50%;
	left: 40%;
}

.com-sale-product .com-sale-product-countdown .countdown-item p{
	padding-top: 12px;
	color: #FFFFFF;
}

/*--Desktop*/
@media only screen and (min-width: 1024px) {
.com-sale-product .com-sale-product-countdown {	
	height: 900px;
	padding-top: 140px;
}

.com-sale-product .com-sale-product-countdown .countdown-item{
	height: 140px;
	width: 140px;	
}
}

/*--tab*/
@media only screen and (max-width: 1024px){
.com-sale-product .com-sale-product-countdown {
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	padding-left: 48px;

}

.com-sale-product .com-sale-product-countdown .countdown-item{
	float: left;
	margin-left: 24px;
	height: 140px;
	width: 140px;	
}
}

/*--mobile*/
@media only screen and (max-width: 344px){
.com-sale-product .com-sale-product-countdown {
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	padding-left: 48px;

}

.com-sale-product .com-sale-product-countdown .countdown-item{
	float: left;
	margin-left: 24px;
	height: 80px;
	width: 80px;	
}

.com-sale-product .com-sale-product-countdown .countdown-item 
.days,
.hours,
.minutes,
.seconds
{
	font-size: 18px;
}
.com-sale-product .com-sale-product-countdown .countdown-item p{
	font-size: 12px;
}
}	



/* --- Blog*/

#com-blog h2 {
	
}
#com-blog h3 {
	border: none;
}

.com-blogs  {
	border: 1px solid #EAEAEA;
}
.com-blogs .img-blog img{
	margin: 0 auto;
}
.com-blogs{
	
	display: inline-block;
}

.com-blogs .com-blog-item{
	padding: 12px 12px;

}

.com-blogs .title-blog {
	margin-top: 12px;
	transition: border 1s, padding .8s;
}

.com-blogs .title-blog:hover{
	border-left: 2px solid #EAEAEA;
	padding-left: 12px;
}


/*Subscribe*/

.com-subscribe{
	display: block;
	height: 200px;
	background: url("images/subscribe.jpg");
	margin-bottom: 24px;
}

.com-subscribe .my-form{
	margin-top: 24px;
	text-align: left;
	padding: 60px;
}

.com-subscribe .my-form .text{
	height: 50px;
	width: 60%;
	padding: 24px;
	margin-bottom: 12px;
	border: none;

}

.com-subscribe .my-form .submit{
	font-size: 30px;
	font-weight: bold;
	background-color: #f0f1ad;
	color: #93bfa1;
	border: none;
	border-radius: 10px;

}
.com-subscribe .my-form .submit:hover{
	background-color: #93bfa1;
	color: #ffffff; 
}




/*--- About*/

#footer {
	background-color: #252525;
}
#footer #subscribe{
	background-color: #ffffff;
}

#com-about h3{
	border: none;
}
#com-about a {
	color: #ffffff;
	padding: 12px;
	font-size: 18px;	
}
#com-about a:hover {
	color: #f0f1ad;
}
#com-about p {
	padding: 8px;	
}
#com-about 
{
	color: #ffffff;
	height: 100%;
	padding: 48px;
	margin-bottom: 24px;
}

#Copyright{
	color: #ffffff;
}